body{
    background-color: #F8BE00;
    margin: auto;
    max-width: 1200px;
    font-family: "Mulish", serif;
    font-weight:500;
    font-size:1.3em;
    color: #1A1A1A;
    animation: bgcolor 15s ease infinite;
}
/*--------------- header + container ---------------*/
header{
    line-height: 0.25em;
    color:#1A1A1A;
}
h1 {
    font-weight:800;
}
header h2 {
    font-weight:700;
}
h3 {
    font-weight:600;
}
.container {
    display:flex;
    flex:1;
}
/*-------------------- tagline ----------------------*/
em {
    color:#E34510;
    font-size:1em;
}
/*-------------------- animation ----------------------*/
@keyframes bgcolor {
    0% {
        background-color: #F8BE00;
    }
    25% {
        background-color: #e8e2d7;
    }
    50% {
        background-color: #F8BE00;
    }
    75% {
        background-color: #e8e2d7;
    }
    100% {
        background-color: #F8BE00;
    }

}
/*-------------------------- section ----------------------------*/
section {
    background-color: #FFFAF1;
    border:#1A1A1A 0.2em solid; 
    border-right: 0em solid;
    max-height: 35em;
    width:18em;
}
section:last-of-type {
    border-right: #1A1A1A 0.2em solid;
}
section h2{
    background-color:#e8e2d7;
    padding:0.5em;
    border-top:#1A1A1A 0.15em solid;
    border-bottom:#1A1A1A 0.15em solid;
    font-weight: 800;
    color:#1A1A1A;
    text-align:center;
}
section ul li {
    list-style-type: none;
}
section ul li a {
    text-decoration: none;
    color:#FFFAF1;
}
/*--------------------- research + pic ----------------------*/
.research{
    background-color: #1520DF;
    padding-top:1.5em;
}
.research p {
    background-color: #1A1A1A;
    height: 15.5em;
}
.research ul {
    padding-bottom:2em;
}
.research ul li a:hover{
    color:#1520DF;
    background-color: #e8e2d7;
    font-weight: 700;
}
.research ul li:hover{
    background-color: #e8e2d7;
}
.picture{
    background-color: #EB4B96;
    padding-top:1.5em;
}
.picture p {
    background-color: #1A1A1A;
    height: 14.5em;
}
.picture ul li a:hover{
    color:#EB4B96;
    background-color: #e8e2d7;
    font-weight: 700;
}
.picture ul li:hover{
    background-color: #e8e2d7;
}
.picture ul li:last-of-type {
    line-height:3em;
}
.picfin {
    background-color: #1A1A1A;
}
/*--------------------- madlibs + game ----------------------*/
.madlibs{
    background-color: #009D03;
}
.madlibs p {
    background-color: #1A1A1A;
    height:14.1em;
}
.madlibs ul li:last-of-type {
    line-height:3em;
}
.madlibs ul li a:hover{
    color:#009D03;
    background-color: #e8e2d7;
    font-weight: 700;
}
.madlibs ul li:hover{
    background-color: #e8e2d7;
}
.madfin {
    background-color: #1A1A1A;
}
.game{
    background-color: #E34510;
}
.game p {
    background-color: #1A1A1A;
    height:14.1em;
}
.game ul li:last-of-type {
    line-height:3em;
}
.game ul li a:hover{
    color:#E34510;
    background-color: #e8e2d7;
    font-weight: 700;
}
.game ul li:hover{
    background-color: #e8e2d7;
}
.gamefin {
    background-color: #1A1A1A;
}

/*--------------------- ul ----------------------*/
ul {
    line-height: 2em;
}

/*--------------------- footer ----------------------*/
footer {
    display: flex;
    font-weight:600;
}
footer p {
    padding:0.5em;
    border:#1A1A1A 0.2em solid;
    border-right:#1A1A1A 0em solid;
}
footer p:last-of-type {
    border-right:#1A1A1A 0.2em solid;
}
.name {
    color:#1A1A1A;
    flex:1;
}
.email {
    background-color:#1A1A1A;
    color: #F8BE00;
    max-width:100%;
    flex:2;
}
.email a {
    text-decoration: none;
    color: #F8BE00;
}
.email:hover {
    color: #1A1A1A;
    background-color: #E34510;
    flex:6;
    font-weight:700;
    font-size: 1em;
}